/* Orb WebGL container - positioned absolute within parent */
.orb-container {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.orb-container canvas {
  display: block;
}
